{% extends 'base.html' %}

{% load static %}

{% block title_content %}
Job List
{% endblock %}

{% block page_content %}
<h1 class="center">Job List</h1>
    {% if newest_jobs %}
        <table class="table table-striped">
        {% for job in newest_jobs %}
            <tr>
                <td><a href="{% url 'jobs:job_sheet' job.job_number %}">{{ job.job_number }}</a></td>
                <td>{{ job.create_date }}</td>
                <td>{{ job.machine_deadline }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No jobs available</p>
    {% endif %}

{% endblock %}