{% extends 'base.html' %}

{% load static %}

{% block title_content %}
<title>Details for {{ product.qb_number }}</title>
{% endblock %}

{% block page_content %}
<h1 class="text-center">{{ product.qb_number }}</h1>
<div class="container">
<div class="card-group">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Engineering Number :</strong> {{ product.eng_number }} </p>
        <p class="card-text"><strong>Part Name :</strong> {{ product.part_name }}</p>
        <p class="card-text"><strong>Part Length :</strong> {{ product.part_length }} inches</p>
        <p class="card-text"><strong>Part Material :</strong> {{ product.part_material }}</p>
        <p class="card-text"><strong>Part Vendor Name :</strong> {{ product.part_vend_name}}</p>
        <p class="card-text"><strong>Part Used In :</strong> {{ product.part_used_in }}</p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="{{ product.part_image_file }}" alt="{{ product.part_name }}">
        <div class="card-body">
            <p class="card-text">Latest Image</p>
      </div>
    </div>
</div>

    <div class="card">
      <h5 class="card-title text-center">Attachments</h5>
      <p class="card-text">Current Manufacturing Drawing : {{product.part_current_drw}}</p>
      <p class="card-text">GCode File 1 : {{product.part_manf_op1}}</p>
      <p class="card-text">GCode File 2 : {{product.part_manf_op2}}</p>
      <p class="card-text">GCode File 3 : {{product.part_manf_op3}}</p>
      <p class="card-text">GCode File 4 : {{product.part_manf_op4}}</p>
    </div>

</div>

{% endblock %}