{% extends 'base.html' %}

{% load static %}

{% block title_content %}
<title>Details for {{ product.qb_number }}</title>
{% endblock %}

{% block page_content %}
    <h1>{{ product.qb_number }}</h1>
    <p>Engineering Number : {{ product.eng_number }}</p>
    <p>Part Name : {{ product.part_name }}</p>
    <p>Part Length : {{ product.part_length }} inches</p>
    <p>Part Material : {{ product.part_material }}</p>
    <p>Part Vendor Name : {{ product.part_vend_name}}</p>
    <p>Part Used In : {{ product.part_used_in }}</p>
    <p>Part Current Revision  :  {{part_current_rev}}</p>
    <p>Current Manufacturing Drawing : {{part_current_drw}}</p>
    <p>GCode File 1 : {{part_manf_op1}}</p>
    <p>GCode File 2 : {{part_manf_op2}}</p>
    <p>GCode File 3 : {{part_manf_op3}}</p>
    <p>GCode File 4 : {{part_manf_op4}}</p>


{% endblock %}