{% extends 'base.html' %}

{% load static %}

{% block title_content %}
<title>Product List</title>
{% endblock %}

{% block page_content %}
<h1 class="center">Product List</h1>
    {% if product_list %}
        <div class="container">
        <table class="table table-striped product-list">
            <tr>
                <th class="center">Quick Books Number</th>
                <th>Engineering Number</th>
                <th>Part Name</th>
            </tr>
            {% for product in product_list %}
                <tr>
                    <td class="center"><a href="{% url 'jobs:product_detail' product.qb_number %}">{{ product.qb_number }}</a></td>
                    <td>{{product.eng_number}}</td>
                    <td>{{ product.part_name }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% else %}
        <p>No Products available</p>
    {% endif %}
{% endblock %}